################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainProject/.vs
/MainProject/MainProject/bin/Debug/net8.0-windows
/MainProject/MainProject/obj
